@import "react-alice-carousel/lib/scss/alice-carousel.scss";
// @import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";
// @import "./fontawesome/scss/brands.scss";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.item-place {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 330px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.411);
  border: 1px solid rgb(255, 255, 255);
  position: relative;
  margin-right: 25px;
  margin-bottom: 25px;
  transition: 0.2s;

  &:hover {
  background: rgb(255, 255, 255);
  }   

  .img {
      height: 190px;
      width: 100%;
      background: url('../public/img/rest.png');
      border-radius: 20px 20px 0 0;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .sub-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 20px;
  }

  .name {
      margin-top: 15px;
      margin-bottom: 2px;
      font-size: 16px;
      font-weight: 500;
      text-overflow: ellipsis;
      max-width: 210px;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 20px;
      cursor: pointer;
  }

  .type {
    padding-left: 20px;
    color: #6F6F6F;
    cursor: pointer;
  }

  .address {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;

    .icon-address {
      background-image: url('../public/img/ui-elements/placeholder\ 2.png');
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }

      margin-top: 15px;
      font-size: 14px;
      font-weight: 400;
      text-overflow: ellipsis;
      max-width: 210px;
      white-space: nowrap;
      overflow: hidden;
  }

  .like-cont {
    padding: 10px 0;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;

    .like-item {
      display: flex;
      align-items: center;
    }

    .pointer {
      cursor: pointer;
    }

    .icon {
      background-repeat: no-repeat;
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }

    .like {
      background-image: url('../public/img/ui-elements/heart\ 1.png');
    }
    
    .like-active {
      background-image: url('../public/img/ui-elements/heart\ 2.png');
    }

    .comment {
      background-image: url('../public/img/ui-elements/comment\ 1.png');
    }

    .show {
      background-image: url('../public/img/ui-elements/show\ 1.png');
    }
  }
}