.home {
    width: 100%;
    height: 100vh;
    background: url('../public/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    user-select: none;

    .content {
        max-width: 80%;
        width: 100%;
        padding-top: 60px;

        .title {
            font-size: 96px;
            color: #4E7FFF;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .block {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 70px;
        }

        .sub-title {
            font-size: 18px;
            color: #363636;
            font-weight: 500;
            margin-right: 50px;
        }

        .weather {
            font-size: 24px;
            color: #363636;
            font-weight: 500;
        }

        .items {
            max-width: 700px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-bottom: 20px;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 100px;
                margin: 10px;
                background: #fff;
                box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
            }
        }

        .items-plus {
            margin-bottom: 45px;

            .btn {
                width: 266px;
                display: flex;
                padding: 15px;
                align-items: center;
                justify-content: space-between;
                background: #FFFFFF;
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                cursor: pointer;
            }

            .icon {
                background: url('../public/img/arrow-down.png');
                width: 11px;
                height: 11px;
            }
        }

        .news-block {
            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;  
                color: #000000;
            }

            .news .item {
                margin: 20px 0;
            }
        }
    }
}