.main-fon-1 {
    width: 100%;
    background-image: url('../public/img/fon-3a.png');
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    background-size: cover;
}

.home .header {
    background-image: url('../public/img/bg2.png');
    background-size: cover;
    width: 100%;
    min-height: 715px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    user-select: none;

    .content {
        max-width: 70%;
        width: 100%;
        padding-top: 100px;

        .title {
            font-size: 100px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .block {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 70px;
        }

        .sub-title {
            font-size: 18px;
            color: #fff;
            font-weight: 400;
            margin-right: 50px;
        }

        .weather {
            font-size: 24px;
            color: #fff;
            font-weight: 500;
        }

        .items {
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-bottom: 20px;

         
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 100px;
                margin: 10px;
                background: #fff;
                box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background: rgba(255, 255, 255, 0.199);
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 5px );

                    .name {
                        color: #fff;
                    }

                    .icon {
                        filter: invert(1);
                    }
                }
            }

            .icon {
                background-image: url('../public/img/icons-categories/eat.png');
                width: 34px;
                height: 34px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: 10px;
            }
        }

        .items-plus {
            margin-bottom: 45px;

            .btn {
                width: 266px;
                display: flex;
                padding: 15px;
                align-items: center;
                justify-content: space-between;
                background: #FFFFFF;
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    background: rgba(255, 255, 255, 0.199);
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 5px );
                    color: #fff;

                    .icon {
                        filter: invert(1);
                    }
                }
    
            }

            .icon {
                background: url('../public/img/arrow-down.png');
                width: 11px;
                height: 11px;
            }
        }

        .news-block {
            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;  
                color: #000000;
            }

            .news .item {
                margin: 20px 0;
            }
        }
    }
}

.home .place-items {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    .container-items {
        max-width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        display: flex;
        flex-direction: column;
        width: 301px;
        border-radius: 20px;
        height: 280px;
        position: relative;
        margin-right: 25px;
        margin-bottom: 25px;
        background: rgba(255, 255, 255, 0.199);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

        .container {
            cursor: pointer;
        }
        
        .like-btn {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #fff;
            top: 10px;
            right: 10px;
        }

        .img {
            height: 175px;
            width: 100%;
            border-radius: 20px 20px 0 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .main {
            margin-left: 20px;
        }

        .name {
            margin-top: 15px;
            font-size: 16px;
            font-weight: 500;
            text-overflow: ellipsis;
            max-width: 210px;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }

        .type {
            margin-bottom: 15px;
        }

        .address {
            font-size: 14px;
            font-weight: 400;
            text-overflow: ellipsis;
            max-width: 210px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}