
.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.navmenu a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    transition: 0.2s;
    border-radius: 10px;
    padding: 10px;
}

.navmenu a:hover {
    color: blue;
    border: 1px solid blue;
}


.main {
    margin-top: 60px;
}