.places {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    background: url('../public/img/fon-places.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;

    .content {
        width: 80%;

        .empty {
            font-size: 25px;
            font-weight: bold;
            color: #353535;
        }

        .head {
            margin-bottom: 30px;

            .title {
                font-size: 48px;
                font-weight: 500;
                margin-top: 30px;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(83, 83, 83, 0.479);
                margin-bottom: 20px;
                color: #232f50;
            }

            .filter-items {
                display: flex;
                flex-wrap: wrap;

                .item {
                    margin: 10px;
                    padding: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: #fff 1px solid;
                    background: rgba(255, 255, 255, 0.445);
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    font-size: 24px;
                    color: rgb(75, 75, 75);
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                    background: rgba(114, 243, 114, 0.486);
                    border: rgb(114, 243, 114) 1px solid;

                    }
                }
            }
        }

        .items {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
    }
}